body
{
	}

#menu{
	float:left;
}

#menu ul{
	list-style:none;
	margin:0;
	padding:0;
}

#menu ul li{
	font-size:11px;
	float: left;
	position:relative;
	display:block;
}

#menu ul li a
{
	color: #555;
	background: #fff;
	text-decoration: none;
	margin: 0 1px;
	padding: 5px 15px;
	display: block;
}

#menu li ul 
{
	display: none;
	}
	
#menu ul li a:hover
{
	background: #066;
	color: #fff;
	}
	
	#menu li:hover ul{
		display:block;
		position:relative;
		}
		
		#menu li:hover li{
			float: none;
			font-size: 12px;
			}
			
			#menu li:hover a {
				background: #333;
				}
				
				#menu li:hover li a:hover
				{
					background: #222;
					}